---
const { imageSrc } = Astro.props
---


<div class="absolute top-0 bottom-0 h-screen z-10">
  <img
    class="object-cover h-full w-screen"
    src={imageSrc}
    alt="Background image for Tesla Website Clone"
  />
</div>